/* 

-------Neccessary Rules that will be followed throughout the whole project-------


font-size: 10px
Now, 1 rem = 10px 
10px/16px = 0.625 = 62.5% 

-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


-Font weights
Default:400
500
600
700

-Line heights
Default: 1
Small:1.05
Medium:1.2
Paragraph default:1.6

letter-spacing
-0.5px
0.75px


----COLORS

Primary:

- Tints:
- Shades:
- Accents:
- Greys:#555, #333,#6f6f6f,#888,#767676


----SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


----BORDER-RADIUS
9px,11px

/* top | right | bottom | left */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ---primary--background-color: #f6f8fc;
  ---primary--color-1: #222;
  ---primary--color-2: #141414;
  ---accent--1: #0052c3;

  --shade-1: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;

  color: var(---primary--color-1);
}

/* ********* */
/* ********* */
/* Auth Page */
/* ********* */
/* ********* */

.section-auth {
  background-image: linear-gradient(to bottom, #064bad, #fefefe 80%);
  min-height: 100vh;
}

.auth-container {
  width: 96rem;
  /* background-color: teal; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 9.6rem;
  display: grid;
  grid-template-columns: 1fr 40rem;
  align-items: center;
  gap: 4.8rem;
  min-height: 77.1rem;
}

.auth-heading {
  font-family: "Satisfy", cursive;
  font-size: 9.4rem;
  line-height: 1.4;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.auth-heading p {
  font-size: 2rem;
  font-weight: 500;
  color: var(---primary--color-2);
}

.auth {
  background-color: var(--shade-1);
  width: 100%;
  padding: 2.4rem;
  box-shadow: 0.7rem 0 2.9rem 0 rgba(100, 100, 111, 0.2);
  border-radius: 11px;
}

.auth-nav,
.dash-nav {
  margin-bottom: 1.8rem;
  list-style: none;
  display: flex;
  gap: 0.4rem;
  margin-left: 1.4rem;
  text-wrap: nowrap;
}

.dash-nav {
  margin-left: 0;
}

.auth-nav-btn {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.6rem 0.8rem;
  letter-spacing: 0.25px;
  color: var(---primary--color-2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.auth-nav-btn:hover {
  border-bottom: 3px solid #4d95f7;
  /* box-shadow: 0rem 0.6rem 1.8rem -0.2rem #cce1fd; */
}

.auth-form *,
.modal-form *,
.announce-form--category *,
.monitor-selector *,
.edit-profile-form * {
  outline: 3px solid transparent;
  transition: all 0.2s ease-in;
}

.auth-form *:focus,
.modal-form input:focus,
.announce-form--category *:focus,
.edit-profile-form *:focus,
.monitor-selector *:focus {
  outline: 3px solid #99c2fb;
}

.auth-form {
  margin-top: 2.4rem;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.auth-form--category,
.announce-form--category,
.modal-form--category {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.announce-form--category select,
.announce-form--category option,
.announce-form--category input,
.announce-form--category textarea,
.modal-form--category input,
.monitor-selector select,
.monitor-selector option,
.auth-form--category select,
.auth-form--category option,
.auth-form--category input {
  padding: 1.2rem;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: none;
  background-color: var(---primary--background-color);
  border-radius: 9px;
  margin-bottom: 0.4rem;
}

.auth-form--category input::-webkit-outer-spin-button,
.auth-form--category input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pass-input-container {
  position: relative;
}

.pass-input-container input {
  width: 100%;
}

.pass-icon-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  border: none;
  background-color: transparent;
}

.auth-form--category p,
.modal-form--category p,
.announce-form--category p {
  padding-left: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.auth-form--category p span,
.announce-form--category p span,
.modal-form--category p span {
  font-size: 1.6rem;
  color: red;
}

.login-btn,
.login-btn-disabled {
  border: none;
  border-radius: 9px;
  padding: 1.2rem 0;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #f6f8fc;
  margin-bottom: 0.6rem;
}

.login-btn-disabled {
  background-color: #4d95f7;
}

.login-btn {
  background-color: #0052c3;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0048ab;
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 1.8rem 0 rgba(153, 193, 250, 0.863);
}

.auth-radio-options {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.auth-radio-container {
  position: relative;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0052c3;
  border-radius: 9px;
  transition: all 0.2s;
}

.auth-radio-container:hover {
  background-color: #dbeafd;
  transform: translateY(-0.2rem);
  border: 1px solid transparent;
}

.auth-radio-container input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.auth-radio-container label {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

/* ****** */
/* ****** */
/* NAVBAR */
/* ****** */
/* ****** */

nav {
  /* background-image: linear-gradient(to Right, #6ea6c0, #89cff0); */
  background-color: #007aff;
  height: 7.6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 9.6rem;
  align-items: center;
}

.nav-heading {
  font-family: "Satisfy", "cursive";
  font-size: 3rem;
  /* font-weight: 600; */
  color: #fff;
  letter-spacing: 0.75px;
}

.logout-btn {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  background-color: #eb3656;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ef5e78;
  transform: translateY(-0.2rem);
}

/* Details Section */

.detail-section {
  margin: 0 2.4rem 2.4rem 0;
}

.detail-container {
  border-radius: 11px;
  align-self: start;
}

/* Edit profile */

.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
}

.info {
  padding: 3rem 2.4rem;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
  border-radius: 11px;
}

.section-heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin-bottom: 2.4rem;
  color: #007aff;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}

.info-container li {
  display: flex;
  gap: 0.6rem;
}

.category {
  font-size: 1.4rem;
  font-weight: 600;
  color: #222;
  letter-spacing: 0.75px;
}

.detail-val {
  font-size: 1.4rem;
  font-weight: 500;
  color: #444;
  letter-spacing: 0.75px;
}

/* Dashboard */

.mem-dashboard-container,
.hr-dashboard-container,
.pre-dash-container,
.advisor-dash-container,
.treasurer-dash-container {
  display: grid;
  font-family: "Inter", "sans-serif";
  color: #222;
  margin: 4.8rem 9.6rem;
}

/* Member Dashboard */
.mem-dashboard-container {
  grid-template-columns: minmax(34rem, 36rem) 2.7fr 1.3fr;
}

/* HR Dashboard */
.hr-dashboard-container {
  grid-template-columns: minmax(34rem, 36rem) 3.2fr 0.8fr;
}

/* President */
.pre-dash-container {
  grid-template-columns: minmax(34rem, 36rem) 3fr 1fr;
}

/* Advisor */
.advisor-dash-container {
  grid-template-columns: minmax(34rem, 36rem) 3fr 1fr;
}

/* Treasurer */
.treasurer-dash-container {
  grid-template-columns: minmax(34rem, 36rem) 3fr 1fr;
}

/* events */

.event-section,
.hr-middle-section,
.pre-middle-section,
.adv-middle-section,
.tre-middle-section {
  padding: 0 4.8rem 2.4rem 4.8rem;
  /* border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0; */
}

.event-box {
  padding: 3.6rem;
  border-radius: 11px;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.event-title,
.det-event-heading {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.event-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.event-host {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.event-host span {
  font-weight: 700;
}

.event-category-list {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}

.event-category-list li {
  display: flex;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  align-items: center;
  margin-bottom: 2.4rem;
}

.event-btn-container {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.eventbtn {
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
}

.parbtn,
.rating-minus {
  transition: all 0.3s;
  background-color: #eb3656;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
}

.parbtn:hover,
.rating-minus:hover,
.remove-btn:hover {
  background-color: #ef5e78;
  transform: translateY(-0.2rem);
}

.volbtn,
.rating-plus {
  transition: all 0.3s;
  background-color: #007aff;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
}

.volbtn:hover,
.rating-plus:hover {
  background-color: #5c9ee6;
  transform: translateY(-0.2rem);
}

.eventbtn:hover {
  transform: translateY(-0.2rem);
}

/* Other Clubs */

.other-club-container,
.hr-last-section {
  padding: 4.8rem 0 2.4rem 2.4rem;
}

.other-club-section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.club-box {
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
  border-radius: 11px;
  padding: 3.6rem;
}

.club-name {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  color: #111;
}

.club-name span {
  font-weight: 700;
}

.club-details {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  line-height: 1.6rem;
  margin-bottom: 1.8rem;
}

.club-box-mini-cont {
  display: flex;
  justify-content: space-between;
}

.club-category {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.other-club-bottom {
  margin-top: 4.8rem;
  display: flex;
  justify-content: flex-end;
}

.join-other-btn {
  background-color: #007aff;
}

.join-other-btn:hover {
  background-color: #66afff;
}

/* Announcement */

.announcement-text,
.no-pending-text {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #555;
}

.ann-card {
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
  border-radius: 11px;
  padding: 2.8rem 3.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  line-height: 1.6;
  color: #444;
}

.ann-heading {
  font-size: 2rem;
  color: #222;
  margin-bottom: 1.4rem;
}

/* pending cards */
.pending-cards-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 2.4rem;
}
.pending-card {
  padding: 3.2rem;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
  border-radius: 11px;
}

.pending-btn-container {
  margin-top: 1.6rem;
  display: flex;
  gap: 1.6rem;
  justify-content: center;
}

.upper {
  text-transform: uppercase;
}

/* .hr-monitor-form {
} */

.monitor-selector {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.monitor-btn-container {
  grid-column: 1 / -1;
  display: flex;
  gap: 2.8rem;
  align-items: center;
}

.mon-promote-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #0048ab;
}

.monitor-selector select,
.monitor-selector option {
  padding: 0.6rem 1.6rem;
  font-size: 1.4rem;
  border-radius: 3rem;
}

/* search-box */
.hr-monitor-form {
  display: flex;
  gap: 1.8rem;
}

.search-container {
  display: flex;
  width: 100%;
}

.search-show-all-btn {
  border-radius: 9px;
  width: 13.6rem;
  background-color: #eb3656;
}

.search-box {
  width: 100%;
  border: 1px solid #99c2fb;
  padding: 1.4rem;
  font-family: inherit;
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  border-radius: 9px;
}

.search-btn,
.search-show-all-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  border: none;

  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #fff;

  transition: all 0.3s;
}

.search-btn {
  width: 11.2rem;
  margin-left: -11.2rem;
  background-color: #3395ff;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.search-btn:hover {
  background-color: #80bdff;
}

.search-show-all-btn:hover {
  background-color: #ef5e78;
  transform: translateY(-0.2rem);
}

.search-box:focus {
  outline: 3px solid #99c2fb;
}

.category-title-bar {
  list-style: none;
  display: grid;
  grid-template-columns: 0.25fr 0.2fr 0.2fr 0.25fr 0.1fr;
  padding: 2.4rem 0;
  background-color: #ececec;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #222;
  justify-items: center;
  width: 100%;
}

.pending-card-container {
  margin-top: 2.4rem;
  border-radius: 9px;
  border: 1px solid #e0e0e0;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
}

.monitor-card {
  border-bottom: 1px solid #e0e0e0;
  border-top: none;
  display: grid;
  justify-items: center;
  grid-template-columns: 0.25fr 0.2fr 0.2fr 0.25fr 0.1fr;
  padding: 2.4rem 0;
  row-gap: 1.6rem;
  align-items: center;
}

.dropbtn {
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.dropbtn:hover {
  transform: scale(1.1);
}

.monitor-card:last-child {
  border-bottom: none;
}

.monitor-card-categories {
  list-style: none;
}

.monitor-card-categories .category {
  font-size: 1.4rem;
  font-weight: 500;
  color: #444;
  letter-spacing: 0.75px;
  display: flex;
  gap: 1.2rem;
}
.rating-grid {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.rating-control {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rating-control button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.confirm-btn,
.remove-btn {
  padding: 0.8rem 1.6rem;
  background-color: #007aff;
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: inherit;
  border: none;
  color: #fff;
  border-radius: 3rem;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
}

.remove-btn {
  background-color: #eb3656;
  font-family: inherit;
}

.confirm-btn:hover {
  background-color: #66afff;
  transform: translateY(-0.2rem);
}

/* hr-last-section */
.total-gen-card {
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
  border-radius: 9px;
  padding: 2.4rem 3.2rem;
  margin-bottom: 2.4rem;
}

.gen-card-stat {
  font-size: 2.8rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
  color: #007aff;
}

.gen-card-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  line-height: 1.6;
}

.gen-card-heading {
  margin-bottom: 2.4rem;
}

/* President */
/* .create-event-section {
  
} */

.announce-form {
  width: 55%;
  padding: 3rem;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.announce-form--category select,
.announce-form--category option,
.announce-form--category input,
.form-para-categories .announce-form--category {
  width: 100%;
}

.announce-form--category textarea {
  min-height: 36rem;
}

.announce-btn-container {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.post-disabled-btn,
.post-btn,
.reset-disabled-btn,
.reset-btn {
  font-family: inherit;
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 9px;
  color: #fefefe;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
  letter-spacing: 0.75px;
  transition: all 0.3s;
}

.post-btn {
  background-color: #007aff;
  cursor: pointer;
}

.post-btn:hover {
  transform: translateY(-0.3rem);
  background-color: #3395ff;
}

.post-disabled-btn {
  background-color: #80bdff;
}

.reset-btn {
  background-color: #eb3656;
  cursor: pointer;
}

.reset-btn:focus {
  outline: none;
}

.reset-btn:hover {
  background-color: #ef5e78;
  transform: translateY(-0.3rem);
}

.reset-disabled-btn {
  background-color: #f59bab;
}

.form-para-categories {
  /* background-color: teal; */
  display: flex;
  gap: 2.4rem;
  width: 100%;
}

.pre-monitor-btn-container {
  grid-column: 1 / -1;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.category-designation {
  text-transform: uppercase;
}

/* Advisor */

.detail-event-box {
  padding: 3.6rem;
  border-radius: 11px;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
}

.det-event-heading {
  display: flex;
  justify-content: center;
}

.det-event-categories {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  list-style: none;
}

.det-event-detail-grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-items: center;
  align-items: center;
  margin-top: 1.6rem;
}

.det-event-venue,
.det-event-capacity,
.det-event-date,
.det-event-restriction {
  display: flex;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  align-items: center;
}

.det-event-btn-container {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  gap: 1.6rem;
}

.progress-container {
  min-width: 24rem;
  height: 25rem;
  /* background-color: skyblue; */
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.circular-progress-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22rem;
  width: 22rem;
  background: conic-gradient(#007aff 3.6deg, #ededed 0deg);
  border-radius: 50%;
}

.circular-progress-bar::after {
  position: absolute;
  content: "";
  height: 16rem;
  width: 16rem;
  background-color: white;
  border-radius: 50%;
}

.progress-info {
  position: absolute;
  z-index: 1;
}

.progress-info span {
  color: #0052c3;
}

.progress-category {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #222;
}
.fund-btn {
  border: none;
  font-family: inherit;
  padding: 1.2rem 2.4rem;
  background-color: #007aff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  border-radius: 9px;
  transition: all 0.3s;
  cursor: pointer;
}

.fund-btn:hover {
  transform: translateY(-0.2rem);
  background-color: #3395ff;
}

/* modal */

/* fund modal */
.modal {
  position: fixed;
  background-color: #fff;
  top: 36rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 11px;
  z-index: 20;
  width: 30rem;
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: filter 0.5s ease;
  z-index: 10;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
}

.backdrop.visible {
  visibility: visible;
  filter: blur(5px);
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.modal-exit-btn {
  margin-left: auto;
  margin-right: 3.6rem;
  margin-bottom: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.modal-exit-btn:hover {
  transform: scale(1.4);
}

/* treasurer */

.vol-event-categories {
  display: flex;
  margin-top: 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.vol-heading {
  text-align: center;
  margin: 2.8rem 0 1.6rem 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #064bad;
}

.volunteer-category-title-bar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 00.25fr);
  padding: 2.4rem 0;
  background-color: #ececec;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #222;
  justify-items: center;
  width: 100%;
}

.vol-card-container {
  border-radius: 11px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  margin: 1.6rem auto;
  width: 90%;
}

.vol-card {
  border-bottom: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: repeat(4, 00.25fr);
  padding: 2.4rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #222;
  justify-items: center;
  align-items: center;
}

.vol-card-btn {
  background-color: #007aff;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 9px;
  color: #fff;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
  transition: all 0.3s;
  cursor: pointer;
}

.vol-card-btn:hover {
  background-color: #3395ff;
  transform: translateY(-0.2rem);
}

.vol-card .category {
  text-align: center;
  line-height: 1.6;
}

.vol-task-checkbox {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.vol-task-checkbox input:hover {
  cursor: pointer;
}

.vol-task-checkbox h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #064bad;
  margin-bottom: 0.8rem;
}

.vol-task-checkbox div {
  display: flex;
  gap: 1.6rem;
  margin-left: 0.4rem;
  align-items: center;
}

.vol-task-checkbox label {
  font-size: 1.4rem;
  display: flex;
  font-weight: 600;
  gap: 3.6rem;
}

.task-btn-complete {
  background-color: #007aff;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 9px;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  box-shadow: rgba(100, 100, 111, 0.15) 0 0.7rem 2.9rem 0;
  transition: all 0.3s;
  cursor: pointer;
}

.task-btn-complete:hover {
  background-color: #3395ff;
  transform: translateY(-0.2rem);
}
